<% content_for :head do %>
  <title><%= @user.name %> - monolist</title>
  <meta name="description" content="<%= @user.name %>のモノページ．欲しいモノ，持っているモノを表示しています．">
<% end %>


<%= render 'profile' , user: @user %>


<%= render 'items/list' , items: @items %>